* {
    margin: 0;
    padding: 0;
}

img { /* alt som har med img taggen å gjøre (bilder) */
    /* får en border i en kremgul farge */
    border-style: solid;
    border-color: #007060;
    border-radius: 5%;
}


header { /* linje øverst på siden */
    background-color: #292929;
    color: silver;
    padding-bottom: 100px;
    margin-bottom: 6px;
    text-align: left;
    padding-left: 36px;
    position: relative;
}

header span {
    position: absolute;
    bottom: 34%;
}
.navbar {
    size: 20px;
    overflow:hidden;
}

.navbar span {
    position: absolute;
    bottom: 20%;
    right: 0%;

}

.dropbtn {
    background-color: #007060; /*Bakgrunnsfarge*/
    color: white; /*Skriftfarge*/
    padding: 16px; 
    font-size: 16px; /*skriftsstørrelse*/
    border: none; /*Fjerner rammen rundt*/
    cursor: pointer; /*Gjør at musepekeren blir en hand*/
    border-radius: 5px; /*Avrunnede hjørner */
    margin-right: 40px;
    text-decoration: underline;
}
.dropbtn:hover {
    border-radius: 0px;
    background-color: #441816;
}

.dropdown {
    overflow: hidden;
    float:right; 

}

.dropdown-content{
    display: none;
    position:absolute;/* relativ gjør at den strekker grid-en den er i . absolutt legger den over*/
    background-color: #007060;
    z-index: 1;
    border-radius: 5px; /*Avrunnede hjørner */
  }
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
}
.dropdown-content a:hover {background-color: #441816;
    border-radius: 0px; /*Avrunnede hjørner */
}
.dropdown:hover .dropdown-content {
    display:block;
    
}

body { /*bakgrunns farge/bilde plus all tekst i <body>*/
    /*
    background-image: url("ProjOne1.0/ProjOneImg/repeatable_background.png"); */
    background-color: #441816;
    color: silver;
}


.grid { /* || Grid oppsettet || */
    display: grid;
    grid-gap: 6px; /* åpenrom mellom grid boksene */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* 6 columns */
    grid-template-rows: 60px auto auto 1fr 42px;     /* 5 rows */
                                                    /*  øverst og nederest row har en sett størrelse
                                                        row 2 øker og minker seg for å passe innholdet i seg
                                                        row 3 og 4 tar opp like mye av resten av plassen
        */

    grid-template-areas:  /* Dette område kan stokkes rundt på som et pusslespill med mange løsninger */
    ". desc content content content ."  /* row 1 */
    ". pic content content content ."   /* row 2 */
    ". pic content content content ."   /* row 3 */
    ". box content content content ."   /* row 4 */
    ". footer footer footer footer .";  /* row 5 */

}


.description { /* liten tekst boks */
    grid-area: desc;    /* plasseres på "desc" i grid-template-areas */
    text-align: center; /* Midtstilt tekst */
}


.picme { /* Boksen som inneholder bildet av meg */
    grid-area: pic;     /* plasseres på "pic" i grid-templates-areas */
    padding: 6px;       /* gir luft rundt bildet så det ikke står kant i kant med div boksen det står i */
    text-align: center; /* midtstiller bildet */
}


.content {  /* stor tekst boks */
    grid-area: content; /* plasseres på "content" i grid-template-areas */
    padding: 18px;      /* luft rundt teksten */
    line-height: 30px;  /* luft mellom linjene i teksten */
}


.footer {   /* linje nedeserst som lukker siden */
    grid-area: footer;  /* plasseres på "footer" i grid-template-areas */
    text-align: center; /* midtstiller teksten */
    position: relative; /* jobber med .footer span nedenfor */
}

.footer span {  /* Midstiller teksten inni .footer vertikalt */
    position: absolute;
    bottom: 30%;
    right: 0%;
    left: 0%;
}




.grid div:nth-child(even)  {
    background-color: #111111;
}
.grid div:nth-child(odd)  {
    background-color: #111111;
}






/*LETS GOOOOOOOOOO*/

@media (max-width:800px) { /*forrander på CSS elementer når skjermstørrelsen blir mindre en 800px */

    .grid { /*grid defined in columns and rows and then laid out in an area at the bottom.*/
        /*NOTE Adding another line requires another 1fr or corresponding in grid-template-rows.*/
        /*SIX(6) Columns are defined, where FOUR(4) are main use, and TWO(2) are margins*/ 
        display: grid;
        grid-gap: 6px;
        padding: 6px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 36px auto auto 1fr 42px;
        grid-template-areas: 
        "desc desc desc desc desc desc"
        "pic pic pic pic pic pic"
        "content content content content content content"
        "content content content content content content"
        "footer footer footer footer footer footer";
    
    }

    .box {
        height: 100%;
    }

    .description span {
        bottom: 20%;
    }

    

}

@media (max-width:575px) { /*forrander på CSS elementer når skjermstørrelsen blir mindre en 575px */

    header span {
        position: relative;
        bottom: 34%;
    }

    h1 {
        text-align: center;
    }

}